{# templates/fotos360/base.html.twig #}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="generator" content="">
        <title>{% block title %}Fotos 360º{% endblock %}</title>
        <link href="{{ asset('dist/photo-sphere-viewer.css', 'photo-sphere-viewer') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap.min.css', 'bootstrap') }}" rel="stylesheet">
        <link href="{{ asset('bootstrap-icons.css', 'bootstrap-icons') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-8 col-md-6 mx-auto">
                        <h1 class="text-center"><i class="bi bi-camera2"></i> ALBUM DE FOTOS</h1>
                        <p class="text-center">Aniversário de Roberta e Letícia</p>
                    </div>
                </div>
            </div> 
        </header>
        <main>
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>        
        <script src="{{ asset('js/jquery-3.6.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.js','bootstrap') }}"></script>
        <script src="{{ asset('js/browser.js') }}"></script>
        <script src="{{ asset('js/three.min.js') }}"></script>
        <script src="{{ asset('dist/photo-sphere-viewer.js','photo-sphere-viewer') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
